/*-------------change_profile_image.php-------------*/
body{
    font-family:tahoma;
    background-color:#d0d8e4;
}
.cover{
    width: 800px; 
    margin:auto;
    min-height:400px
}
.below-cover{
    display :flex;
}
.post{
    min-height:400px;
    flex:2.5;
    padding : 20px ;
    padding-right:0px;
}
.post-area{
    border:solid thin #aaa; 
    padding:10px;
    background-color:white;
}
#blue_bar {
    height:50px;
    background-color:#4267B2;
    color : #d9dfeb; 
}
#search_box {
    width:400px;
    height:20px;
    border-radius:5px;
    border :none;
    padding : 4px;
    font-size:14px;
    background-image:url(../img/search.png);
    background-repeat:no-repeat;
    background-position:right;
}
#post_button{
    float:right;
    background-color:#405d9b;
    border:none;
    color:white;
    font-size:14px;
    padding:4px;
    border-radius:2px;
    width:100px;
}
#post_bar{
    margin-top:20px;
    background-color:white;
    padding:10px;
}
#post{
    padding:4px;
    font-size:13px;
    display:flex;
}

/*---------------------delete/edit/likes-----------------*/
#profile_pic{
    background-color:none;
    width:150px;
    border-radius:50%;
    border:solid 2px white;
}

#menu_buttons{
    width:100px;
    display:inline-block;
    margin:2px;
}
#friends_img{
    width:75px;
    float:left;
    margin: 8px;
    border-radius:4px;
}
#friends_bar{
    margin-top:20px;
    min-height:400px;
    padding:8px;
    text-align:center;
    font-weight:bold;
    color:#405d9b;
}
#friends{
    clear:both;
    font-size:12px;
    font-weight:bold;
    color :#405d9b;
}
textarea{
    width:100%;
    border :none;
    font-family:tahoma;
    font-size:14px;
    padding:px;
    height:60px;
}

/*---------------------likes.php-----------------*/
.br{
    clear:both;
}

/*---------------------login.php-----------------*/
#bar {
    height:100px;
    background-color:#4267B2;
    color:#d9dfeb;
    padding:4px;
}
#bar2 {
    padding:10px;
    padding-top:50px;
    border-radius:4px;  
    background-color:white;
    font-weight:bold;
    width:800px;
    margin:auto;
    margin-top:50px;
    text-align:center;  
}
#login_button{
    background-color:#42b72a;
    width:70px;
    text-align:center;
    padding : 4px;
    border-radius:4px;  
    float:right;
}
#text{
    height: 40px;
    width:300px;
    border-radius:4px;
    border:solid 1px #ccc;
    padding:4px;
    font-size:14px;
}
#button{
    width:300px;
    height:40px;
    border-radius:4px;
    font-weight:bold;
    border:none;
    background-color:#4267B2;
    color:white;
}


/*---------------------post_delete.php-----------------*/
.img-delete-post{
    width:75px;
    margin-right:4px;
    border-radius:3px;
}
.delete-post{
    font-weight:bold;
    color:#405d9b;
}

/*---------------------post.php-----------------*/
.post{
    width:100%;
}
.post-send{
    font-weight:bold;color:#405d9b;
}
/*---------------------prpfile_content_default.php-----------------*/
.posts-area{
    min-height:400px;
    flex:2.5;
    padding : 20px ;
    padding-right:0px;
}
.cover-friend{
    min-height:400px;
    flex:1;
}
/*---------------------prpfile_content_photos.php-----------------*/
.photo-profile{
    min-height:400px; 
    width: 100% ; 
    padding : 20px ;
    padding-right:0px;
    background-color:white
    ;text-align :center;
}
/*---------------------profile.php-----------------*/
.profile{
    background-color :white;
     text-align:center;
     color:#405d9b;
}
.profile_pic{
    text-decoration:none;
    color:#f0f;
}
/*---------------------signup.php-----------------*/
#signup_button{

    background-color:#42b72a;
    width:70px;
    text-align:center;
    padding : 4px;
    border-radius:4px;  
    float:right;
}
/*---------------------signup.php-----------------*/
#friend{
    display:inline-block;
}
/*---------------------signup.php-----------------*/
.comment{
    width:100%;
}
.comment-below{
    font-weight:bold;
    color:#405d9b;
}
.comment-post{
    color :#999; 
    float:right
}

/*---------------------impressum.php-----------------*/
.tab.row{
    padding:20px;
    margin: 10px;
}
.card{
    margin-left:150px;
    margin-top :20px;
}
.footer {
    margin: auto;
    width: 20%;
    padding-left: 80px;
}
